@charset "utf-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#45C4B0,#9AEBA3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #298073bb;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#154666 ;
    text-shadow: 1px 1px 1px #154666;
}
h2{
    color: #5A9C56;
}

p{
    text-align: justify;  
}